<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>?</title>
    <!--<link th:href="@{/css/styles.css}" rel="stylesheet">-->
</head>
<body>
<div th:fragment="header">
    <!--Шапка.Меню навигации-->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="http://localhost:8080/contractors">Контрагенты</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Справочники</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="http://localhost:8080/countries">Страны</a>
                <a class="dropdown-item" href="http://localhost:8080/contractor_types">Типы контрагентов</a>
                <a class="dropdown-item" href="http://localhost:8080/agreement_types">Типы соглашений</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="http://localhost:8080/agreements">Договоры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Товары</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Операции</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Отчеты</a>
        </li>
    </ul>
</div>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>